.user__content {
    padding: 10px;
    background-color: rgba(114, 110, 110, 0.6);
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
}

.user__name {
    margin-bottom: 10px;
    font-size: 30px;
}

.user__email {
    margin-bottom: 20px;
}

.user__button {
    width: 200px;
    height: 30px;
    background-color: rgba(255, 242, 0, 0.47);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}