.user{
    background: #5a5a5a;
    padding: 10px 0 10px 7px;
    margin-bottom: 10px;
    color: #ffffff;
}
.user__inner {
    display: flex;
    column-gap: 20px;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
}

.user__link {
    background: #a11b1b;
    padding: 7px;
}
.user__link>* {
    text-decoration: none;
    color: #ffffff;
}
