* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1770px;
    margin: 0 auto;
    padding: 0 20px;

}

.menu {
    display: flex;
    column-gap: 30px;
    margin: 5px 0 10px 15px;
}

